In [1]:
import os
import sys
import glob
import pandas as pd
import numpy as np

In [19]:
list_fn = glob.glob('data/*/*csv')
list_df = [pd.read_csv(fn) for fn in list_fn]
df = pd.concat(list_df)

In [21]:
df[df['Status'] == 'APPROVED']['Sex'].value_counts()

Sex
Male      447
Female    286
Name: count, dtype: int64

In [24]:
df_summary = df[df['Status'] == 'APPROVED'].groupby(['Sex', 'Ethnicity simplified']).agg(
    {'Status': 'count'}).reset_index().rename(columns={'Status': 'Count'})
df_summary.to_csv('tmp.csv', index=False)
df_summary

       Sex Ethnicity simplified  Count
0   Female                Asian     24
1   Female                Black     20
2   Female         DATA_EXPIRED      3
3   Female                Mixed     19
4   Female                Other      7
5   Female                White    213
6     Male                Asian     38
7     Male                Black     39
8     Male         DATA_EXPIRED      4
9     Male                Mixed     36
10    Male                Other     11
11    Male                White    319